/*** MENU ***/

#header {
	font-family: Ubuntu;
	font-size: 35px;
	margin-top: -40px;
	margin-bottom: 10px;
}

#photocircle {
	border-color: black;
	border-style: solid;
	border-width: 10px;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	float: left;
	background-image: url("../resources/ocean1.jpg");
	box-shadow: inset 0 0 10px 2px rgba(0,0,0,0.75);
}

#menu {
	font-family: Ubuntu;
	font-weight: 900;
	margin-top: 10%;
	margin-left: 15%;
	width: 30%;
	float: left;
	position: fixed;
}

#menulist ul {
	position: relative;
	left: 15px;
	top: 10px;
	display: block;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#menulist ul li a {
	margin-top: 100px;
	text-decoration: none;
	font-size: 25px;
	color: black;
}

#menulist ul li a.nav-selected {
	color: gray;
}

@-webkit-keyframes menuitemhover {
	0% { color: black; }
	100% { color: gray; }
}

#menulist ul li a:not(.nav-selected):hover {
	-webkit-animation-name: menuitemhover;
	-webkit-animation-duration: 0.5s;
	color: gray;
}

/*** CONTENT ***/

#content {
	font-family: Ubuntu;
	margin-top: 10%;
	margin-left: 50%;
	width: 35%;
	float: left;
}

#aboutme-content {
}

#resume-content {
	display: none;
}

#linkedin-content {
	display: none;
}

#github-content {
	display: none;
}

#test-content {
	display: none;
}