/*** MENU ***/

#header {
	font-family: Ubuntu;
	font-size: 30px;
	margin-top: -40px;
	margin-bottom: 10px;
}

#photocircle {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	float: left;
	background-image: url("../resources/ocean1.jpg");
	box-shadow: inset 0 0 15px rgba(0,0,0,0.75);
}

#menu {
	font-family: Ubuntu;
	margin-top: 10%;
	margin-left: 15%;
	width: 30%;
	float: left;
	position: fixed;
}

#menulist {
	position: relative;
	left: 15px;
	top: -7px;
	display: block;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#menulist li:nth-child(1) {
	position: relative;
	left: -45px;
}

#menulist li:nth-child(2) {
	position: relative;
	left: -18px;
}

#menulist li:nth-child(3) {
	position: relative;
	left: -5px;
}

#menulist li:nth-child(4) {
	position: relative;
	left: 0px;
}

#menulust li:nth-child(5) {
	position: relative;
	left: -2px;
}

#menulist li:nth-child(6) {
	position: relative;
	left: -12px;
}

#menulist li:nth-child(7) {
	position: relative;
	left: -35px;
}

#menulist li a {
	text-decoration: none;
	font-size: 25px;
	color: black;
}

#menulist li a.selected {
	color: gray;
}

@-webkit-keyframes menuitemhover {
	0% { color: black; }
	100% { color: gray; }
}

#menulist li a:not(.selected):hover {
	-webkit-animation-name: menuitemhover;
	-webkit-animation-duration: 0.5s;
	color: gray;
}

/*** CONTENT ***/

#content {
	font-family: Ubuntu;
	margin-top: 10%;
	margin-left: 45%;
	width: 40%;
	float: left;
}

#aboutme {
	display: none;
}

#resume {
	display: none;
}

#linkedin {
	display: none;
}

#github {
	display: none;
}