/*** MENU ***/

body {
	margin: 0;
}

#banner {
	filter: sepia(50%);
	background-image: url("../resources/newfoundland.jpeg");
	background-position: 0% 100%;
	background-size: 100%;
	width: 100%;
	height: 250px;
	transition-duration: 0.1s;
	transition-property: background-position, filter;
	box-shadow: inset 0px -18px 10px -10px black;
}

#menu {
	background-color: black;
	height: 2.5rem;
	width: 100%;
}

#menu ul {
	padding: 0;
	position: relative;
	display: block;
	list-style-type: none;
	width: 40%;
	margin: auto;
}

#menu li {
	margin-right: 2em;
	display: inline;
}

#menu ul li a {
	font-size: 2rem;
	text-decoration: none;
	color: white;
}

#menu ul li a:hover {
	transition-duration: 1s;
	color: #e2b88e;
}

#content {
	font-family: Ubuntu;
	width: 40%;
	margin: 40px auto;
}

#header {
	font-family: Ubuntu;
	font-size: 4em;
	margin-bottom: 0.5em;
}
